body{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 20%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

.keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;

}
input{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    color: white;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 40%);
}
button{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: none;
    color: hsl(0, 0%, 100%);
    font-size: 3rem;
    background-color: hsl(0, 0%, 30%);
    cursor: pointer;

}
button:hover{
    background-color: hsl(0, 0%, 40%);
}

button:active{
    background-color: hsl(0, 0%, 50%);

}

#operation-btn{
    background-color: hsl(39, 100%, 50%);
}

#operation-btn:hover{
    background-color: hsl(39, 100%, 60%);
}

#operation-btn:active{
    background-color: hsl(39, 100%, 70%);
}

#clear-btn{
    border-radius: 10px;
    width: 90%;
    padding: 20px;
    margin: 25px;
    background-color: hsl(18, 100%, 50%);
}

#clear-btn:hover{
    background-color: hsl(18, 100%, 60%);
}

#clear-btn:active{
    background-color: hsl(18, 100%, 70%);
}